<!DOCTYPE html>
<html>

<head>
    <title>Cambiar contrase単a</title>
</head>

<body>
    <h1>Cambiar contrase単a</h1>
    <form method="POST" action="/cambiar-contrasena">
        <input type="password" name="password" placeholder="Contrase単a" required>
        <input type="password" name="confirmPassword" placeholder="Confirmar contrase単a" required>
        <input type="hidden" name="token" value="<%= token %>">
        <button type="submit">Guardar</button>
    </form>
</body>

</html>